.bash_history
.Xauthority
.vim/
.viminfo
.local/
.cache/
.dbus/
.fontconfig/
.pki/
src/
.config/
.dropbox/
.gconf/
.gksu.lock
.macromedia/
.pulse-cookie
.pulse/
Downloads/
Dropbox/
bin/
.ssh/
.gtkrc-2.0
.thumbnails/
.mpdscribble/
.ncmpcpp/
.w3m/
My Games/
music/
.wine/
tmux-client-*
.flexget/
.irssi/
torrent torrents
pictures/
.cmus/
torrent/
torrents/
.gtk-bookmarks
.htoprc
